﻿@model StateModel
@{
    ViewData["Title"] = "EditState";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">


        <div class="card">
            <div class="card-body">
                <form asp-controller="StateController1" asp-action="EditState">
                    <h4 class="form-header text-uppercase">
                        <i class="fa fa-address-book-o"></i>
                        Add Stae  <a asp-controller="StateController1" asp-action="StateList">All State</a>
                    </h4>
                    <div class="form-group row">
                        <label asp-for="StateName" class="col-sm-2 col-form-label">State  Name</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" asp-for="StateName">
                            <span asp-validation-for="StateName" class="text-danger"></span>
                        </div>

                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i> Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

