﻿@model StateModel
@{
    ViewData["Title"] = "State";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">

        @if (ViewBag.issuss == true)
        {
            <div class="alert alert-success alert-dismissible alert-round" role="alert" id="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <div class="alert-icon">
                    <i class="icon-check"></i>
                </div>
                <div class="alert-message">
                    <span><strong>Success!</strong>  State master Save !    </span>
                </div>

            </div>
        }

        @if (ViewBag.update == true)
        {
            <div class="alert alert-success alert-dismissible alert-round" role="alert" id="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <div class="alert-icon">
                    <i class="icon-check"></i>
                </div>
                <div class="alert-message">
                    <span><strong>Success!</strong>  State master Update !    </span>
                </div>

            </div>
        }




        <div class="card">
            <div class="card-body">
                <form asp-controller="StateController1" asp-action="State">
                    <h4 class="form-header text-uppercase">
                        <i class="fa fa-address-book-o"></i>
                        Add Stae  <a asp-controller="StateController1" asp-action="StateList">All State</a>
                    </h4>
                    <div class="form-group row">
                        <label asp-for="StateName" class="col-sm-2 col-form-label">State  Name</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" asp-for="StateName">
                            <span asp-validation-for="StateName" class="text-danger"></span>
                        </div>

                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i> SAVE</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scriprs{
    @if (ViewBag.issuss == true)
    {
        <script>
            setTimeout(function () {
                location = '/StateController1/State/';
            }, 3000)
        </script>

    }


    @if (ViewBag.update == true)
    {
        <script>
            setTimeout(function () {
                location = '/StateController1/State/';
            }, 3000)
        </script>

    }
}


