﻿@model IEnumerable<StateModel>
@{
    ViewData["Title"] = "StateList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <i class="fa fa-address-book-o"></i>
                <a asp-controller="State" asp-action="State">Add State </a>
                <table id="tab" class="table table-striped table-bordered">
                    <thead class="thead-primary">
                        <tr>
                            <th>S.NO</th>
                            <th>State Name</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>
                    <tbody>

                        @{
                            int sno = 0;
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @{ sno++; }
                                    @sno
                                </td>
                                <td>@item.StateName</td>
                                <td><a asp-controller="StateController1" asp-action="EditState" asp-route-id="@item.Id">Edit</a></td>
                                <td><a asp-controller="Home" asp-action="Delete">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scriprs{
    <script>
        $(document).ready(function () {
            $('#tab').dataTable();
        })
    </script>

}

