﻿@model CityModel
@{
    ViewData["Title"] = "AddCity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        @if (ViewBag.SaveCityName == true)
        {
            <div class="alert alert-success alert-dismissible alert-round" role="alert" id="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <div class="alert-icon">
                    <i class="icon-check"></i>
                </div>
                <div class="alert-message">
                    <span><strong>Success!</strong>  City master save !    </span>
                </div>

            </div>
        }

        @if (ViewBag.update == true)
        {
            <div class="alert alert-success alert-dismissible alert-round" role="alert" id="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <div class="alert-icon">
                    <i class="icon-check"></i>
                </div>
                <div class="alert-message">
                    <span><strong>Success!</strong>  city master Update !    </span>
                </div>

            </div>
        }

        <div class="card">
            <div class="card-body">
                <form asp-controller="City" asp-action="AddCity">
                    <h6 class="form-header text-uppercase">
                        <i class="fa fa-address-book-o"></i>
                        Add Stae  <a asp-controller="City" asp-action="GetCity">All City</a>
                    </h6>
                    <div class="form-group row">
                        <label asp-for="SID" class="col-sm-2 col-form-label">State  Name</label>
                        <div class="col-sm-4">
                            <select class="form-control" asp-for="SID" asp-items="@(new SelectList(Model.StateModelList,"Id","StateName"))">
                                <option value="">Please select one</option>
                            </select>
                            <span asp-validation-for="SID" class="text-danger"></span>
                        </div>

                        <div class="col-sm-4">
                            <input class="form-control" asp-for="CityName" />
                            <span asp-validation-for="CityName" class="text-danger"></span>
                        </div>

                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i> SAVE</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section scriprs{
    @if (ViewBag.SaveCityName == true)
    {
        <script>
            setTimeout(function () {
                location = '/City/AddCity';
            }, 3000)
        </script>

    }


    @if (ViewBag.update == true)
    {
        <script>
            setTimeout(function () {
                location = '/City/AddCity';
            }, 3000)
        </script>

    }
}

