﻿@model CityModel
@{
    ViewData["Title"] = "EditCity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">

      
        <div class="card">
            <div class="card-body">
                <form asp-controller="City" asp-action="EditCity" mathod="post">
                    <input hidden asp-for="CID" />
                    <h6 class="form-header text-uppercase">
                        <i class="fa fa-address-book-o"></i>
                        Add Stae  <a asp-controller="City" asp-action="GetCity">All City</a>
                    </h6>
                    <div class="form-group row">
                        <label asp-for="SID" class="col-sm-2 col-form-label">State  Name</label>
                        <div class="col-sm-4">
                            <select class="form-control" asp-for="SID" asp-items="@(new SelectList(Model.StateModelList,"Id","StateName"))">
                                <option value="">Please select one</option>
                            </select>
                            <span asp-validation-for="SID" class="text-danger"></span>
                        </div>

                        <div class="col-sm-4">
                            <input class="form-control" asp-for="CityName" />
                            <span asp-validation-for="CityName" class="text-danger"></span>
                        </div>

                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i> Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


 