﻿@model SubjectModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-success alert-dismissible alert-round" role="alert" id="alert" style="display:none">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <div class="alert-icon">
                <i class="icon-check"></i>
            </div>
            <div class="alert-message">
                <span><strong>Success!</strong> Subject name save </span>
            </div>
        </div>

        <div class="alert alert-danger alert-dismissible alert-round" role="alert" id="danger" style="display:none">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <div class="alert-icon">
                <i class="icon-close"></i>
            </div>
            <div class="alert-message">
                <span><strong>Sorry!</strong> already save this </span>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <form asp-controller="Home" asp-action="Edit" mathod="post" data-ajax="true" data-ajax-success="Success"
                      data-ajax-complete="mycompleteEdit">

                    <h4 class="form-header text-uppercase">
                        <i class="fa fa-address-book-o"></i>
                        Add Subject  <a asp-controller="home" asp-action="AllSubject">All Subject</a>
                    </h4>
                    <div class="form-group row">
                        <label asp-for="SubjectName" class="col-sm-2 col-form-label">Subject  Name</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" asp-for="SubjectName">
                            <span asp-validation-for="SubjectName" class="text-danger"></span>
                        </div>

                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i> update</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



@section scriprs{
    <script>

      


        $(document).ready(function () {
            $('#alert').hide();
            $('#danger').hide();
        })
        function mycompleteEdit() {
            $("#SubjectName").val("");
            $('#alert').hide(9000);
            $('#danger').hide(9000);
            // window.location.href = '/Home/index/';
            setTimeout(function () {
                location = '/Home/index/';
            }, 1000)
        }

        function Success(s) {
            var arr = Object.entries(s);

            if (arr[0] == 'f,false') {
                $('#danger').show();
            }
            else {
                $('#alert').show();
            }
        }

    </script>


}