﻿@model int


@{
    ViewData["Title"] = "Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="wrapper">
    <div class="height-100v d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1 class="error-title text-primary"> 404</h1>
                        <h2 class="error-sub-title text-dark">404 not found</h2>

                        <p class="error-message text-dark text-uppercase">Sorry, an error has occured, Requested page not found!</p>

                        <div class="mt-4">
                            <a asp-controller="home" asp-action="index" class="btn btn-primary btn-round shadow-primary m-1">Click here to navigate to the home page </a>
                            <a href="javascript:void();" class="btn btn-outline-primary btn-round m-1">Previous Page </a>
                        </div>

                        <div class="mt-4">
                            <p class="text-dark">Copyright © 2018  <span class="text-primary">Amit  </span>| All rights reserved.</p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>