﻿@model StudentInfoModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var photoPath = "/images/" + (Model.ExistingphotoPath ?? "1111980.jpg");
}



<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form asp-action="Edit" asp-controller="Studentinfo" enctype="multipart/form-data">
                    <input asp-for="SID" type="hidden" />
                    <h4 class="form-header text-uppercase">
                        <i class="fa fa-address-book-o"></i>
                        Student info Edit
                    </h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row">
                        <label for="input-10" class="col-sm-2 col-form-label" asp-for="Name"> </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control error" asp-for="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <label asp-for="EmilID" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control error" asp-for="EmilID">
                            <span asp-validation-for="EmilID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">

                        <label asp-for="DateOfBirthday" class="col-sm-2 col-form-label">Dob</label>
                        <div class="col-sm-4">
                            <input asp-for="DateOfBirthday" value="@Model.DateOfBirthday.ToString("dd'/'MM'/'yyyy")" class="form-control" asp-format="{0:dd'/'MM'/'yyyy}">
                            <span asp-validation-for="DateOfBirthday" class="text-danger"></span>
                        </div>




                        <label asp-for="MobileNo" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" asp-for="MobileNo">
                            <span asp-validation-for="MobileNo" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label asp-for="State" class="col-sm-2 col-form-label">State</label>
                        <div class="col-sm-4">
                            <select class="form-control" asp-for="State" asp-items="@(new SelectList(Model.StateModelList1,"Id","StateName"))">
                                <option value="">Please select one</option>
                            </select>
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                        <label asp-for="City" class="col-sm-2 col-form-label">City</label>
                        @if (Model.SID > 0)
                        {
                            <div class="col-sm-4">
                                <select class="form-control" asp-for="City" asp-items="@(new SelectList(Model.cityModelList1,"Id","CityName"))">
                                    <option value="">Please select one</option>
                                </select>
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-4">
                                <select class="form-control" asp-for="City">
                                    <option value="">Please select one</option>
                                </select>
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        }

                    </div>


                    <div class="form-group row">
                        <label asp-for="Gender" class="col-sm-2 col-form-label"></label>

                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" asp-for="Gender" value="Male">
                                <label class="form-check-label" for="inlineRadio1">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" asp-for="Gender" value="Female">
                                <label class="form-check-label" for="inlineRadio2">Female</label>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>

                        </div>
                        <label asp-for="Photo" class="col-sm-2 col-form-label">Image</label>
                        <div class="col-sm-4">
                            <input asp-for="Photo" class="form-control  custom-file-input" onclick="return fileValidation()" />
                            <label class="custom-file-label">Choose File...</label>
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Subject </label>
                        <div class="card-body col-4">
                            @for (int i = 0; i < Model.SubjectModelList.Count(); i++)
                            {
                                <div class="form-check form-check-inline">
                                    @*<input class="form-check-input" type="checkbox" id="@Model.SubjectModelList[i].ID" asp-for="@Model.SubjectModelList[i].IsCheck"  value="option1">
                        <input hidden asp-for="@Model.SubjectModelList[i].IsCheck" />
                        <label class="form-check-label" for="inlineCheckbox1">@Model.SubjectModelList[i].SubjectName</label>*@

                                    <input class="form-check-input" type="checkbox" asp-for="@Model.SubjectModelList[i].IsCheck" />
                                    <label class="form-check-label" asp-for="@Model.SubjectModelList[i].IsCheck">@Model.SubjectModelList[i].SubjectName</label>
                                    <input type="hidden" asp-for="@Model.SubjectModelList[i].ID" />
                                    <input type="hidden" asp-for="@Model.SubjectModelList[i].SubjectName" />

                                </div>
                            }
                        </div>


                        <label class="col-sm-2 col-form-label">PREVIOUS IMAGE </label>
                        <div class="card-body col-4">
                            @*<label asp-for="Photo" class="col-sm-2 col-form-label">previous Image</label>*@
                            <div class="col-sm-4">

                                <img style="height:200px; width:auto" src="@photoPath" />
                            </div>
                        </div>

                    </div>



                    <div class="card-body">

                        <div class="form-footer">
                            <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i> Update</button>
                            <a asp-action="GetAllstu" asp-controller="Studentinfo" class="btn btn-danger">Cancel</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section scriprs {
    <script>

        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });


            $('#State').change(function () {
                debugger
                var url = '@Url.Content("/Studentinfo/LoadCity")' ;
                var ddlsource = "#State";
                $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $("#City").empty();
                    $.each(data, function (i, cityList) {

                        items += "<option value='" + cityList.id + "'>" + cityList.cityName + "</option>";
                    });
                    $('#City').html(items);
                });
            });


        });

    </script>
    @*@if (ViewBag.susscess == true)
        {
            <script>
                $('#alert').hide(3000);
                setTimeout(function () {
                    location = '/Studentinfo/GetAllstu';
                }, 3000)
            </script>

        }*@


}