﻿@model IEnumerable<StudentInfoModel>
@{
    ViewData["Title"] = "GetAllstu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-table"></i> Student Details </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tab" class="table table-striped table-bordered">
                        <thead class="thead-primary">
                            <tr>
                                <th>S.NO</th>
                                <th> Name</th>
                                <th> Email</th>
                                <th> Gender</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Mobile No</th>
                                <th>DOB</th>
                                <th>Image File</th>
                                <th>Edit</th>
                                <th>Subject Details</th>
                                <th>Delete</th>

                            </tr>
                        </thead>
                        <tbody>

                            @{
                                int sno = 0;
                            }
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @{ sno++; }
                                    @sno
                                </td>
                                <td>@item.Name</td>
                                <td>@item.EmilID</td>
                                <td>@item.StsteJoin</td>
                                <td>@item.CityJoin</td>
                                <td>@item.StsteJoin</td>
                                <td>@item.MobileNo</td>
                                <td>@item.DateOfBirthday</td>
                                <td><img src="~/images/@item.StudentImage" class="rounded-circle" height="40" width="40" asp-append-version="true" /></td>
                                <td><a asp-controller="Studentinfo" asp-action="Edit" asp-route-id="@item.SID">Edit</a></td>
                                <td><button type="submit" id="@item.SID" class="btn btn-secondary idd">Details of Subject</button> </td>
                                <td><a asp-controller="Home" asp-action="Delete">Delete</a></td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content animated rollIn">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-star"></i> Subject List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table>
                    <thead>
                        <tr>
                            <th>Subject Name</th>
                        <tr>
                    </thead>
                    <tbody id="tblBykeLists">
                    <tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Save changes</button>
            </div>
        </div>
    </div>
</div>

@section scriprs{
    <script>
        $(document).ready(function () {
            $('#tab').dataTable();


            $('.idd').click(function () {
                var clickbtnID =this.id
                var url = '@Url.Content("GetSubjectDetailsByStudent")' ;
                $.getJSON(url, { studentId: clickbtnID }, function (data) {
                    $("#tblBykeLists > tr").remove();
                    $.each(data, function (i, SubjectList) {
                        console.log(SubjectList);
                        $("#myModal").modal('show');
                        var html = "<tr><td>" + SubjectList.subjectName + "</td></tr>";
                        $("#tblBykeLists").append(html); 
                       
                    });
                   
                });
            })
        })


    </script>

}

